/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

/* Styles for the .main container */
.Main {
    /* Fill the entire screen */
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    
}

/* Styles for the background image */
.Main::before {    
    content: "";
    background-image: url('image/figma_bg.png');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
}

/* Styles for the date element */
.Date {
    left: 89px;
    top: 192px;
    position: absolute;
    color: black;
    font-size: 32px;
    font-family: Jost;
    font-weight: 500;
    word-wrap: break-word;
}

/* Styles for the time element */
.Time {
    left: 89px;
    top: 111px;
    position: absolute;
    color: black;
    font-size: 64px;
    font-family: Jost;
    font-weight: 700;
    word-wrap: break-word;
}

/* Styles for the SVG container */
.Datastream {
    width: 609px;
    height: 368px;
    left: 89px;
    top: 268px;
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}


/* Styles for the rectangle element */
.Rectangle {
    width: 466px;
    height: 464px;
    left: 764px;
    top: 164px;
    position: absolute;
    background: rgba(238, 247, 252, 0.70);
    border-radius: 10px;
}

/* Styles for the water consumption text */
.WaterConsumption {
    left: 817px;
    top: 217px;
    position: absolute;
    color: black;
    font-size: 36px;
    font-family: Jost;
    font-weight: 700;
    word-wrap: break-word;
}

/* Styles for the water drop container */
.Drop {
    width: 161px;
    height: 198.57px;
    left: 801px;
    top: 337px;
    position: absolute;
}

/* Styles for the "num of botte" text */
.Numofbotte {
    left: 940px;
    top: 499px;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: Jost;
    font-weight: 400;
    word-wrap: break-word;
}

/* Styles for the "capacity" text */
.Capacity {
    left: 1095px;
    top: 507px;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: Jost;
    font-weight: 400;
    word-wrap: break-word;
}

/* Styles for the water bottle container */
.Bottle {
    width: 40px;
    height: 98.95px;
    left: 1035px;
    top: 436px;
    position: absolute;
}

/* Styles for the text below the bottle */
.Systemmessage {
    left: 800px;
    top: 570px;
    position: absolute;
    color: black;
    font-size: 22px;
    font-family: Jost;
    font-weight: 500;
    word-wrap: break-word;
}
