/* Styles for the .main container */
.Main {
    width: 1280px;
    height: 720px;
    position: relative;
    background: linear-gradient(0deg, white 0%, white 100%);
    background-image: url("image/figma_bg.png");
}

/* Styles for the date element */
.Date {
    left: 89px;
    top: 192px;
    position: absolute;
    color: black;
    font-size: 32px;
    font-family: Jost;
    font-weight: 500;
    word-wrap: break-word;
}

/* Styles for the time element */
.Time {
    left: 89px;
    top: 111px;
    position: absolute;
    color: black;
    font-size: 64px;
    font-family: Jost;
    font-weight: 700;
    word-wrap: break-word;
}

/* Styles for the SVG container */
.Datastream {
    width: 609px;
    height: 368px;
    left: 89px;
    top: 268px;
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}


/* Styles for the rectangle element */
.Rectangle {
    width: 437px;
    height: 466px;
    left: 764px;
    top: 164px;
    position: absolute;
    background: rgba(238, 247, 252, 0.70);
    border-radius: 10px;
}

/* Styles for the water consumption text */
.WaterConsumption {
    left: 817px;
    top: 217px;
    position: absolute;
    color: black;
    font-size: 36px;
    font-family: Jost;
    font-weight: 700;
    word-wrap: break-word;
}

/* Styles for the water drop container */
.Drop {
    width: 161px;
    height: 198.57px;
    left: 801px;
    top: 337px;
    position: absolute;
}

/* Styles for the "num of botte" text */
.Numofbotte {
    left: 967px;
    top: 499px;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: Jost;
    font-weight: 400;
    word-wrap: break-word;
}

/* Styles for the "capacity" text */
.Capacity {
    left: 1095px;
    top: 499px;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: Jost;
    font-weight: 400;
    word-wrap: break-word;
}

/* Styles for the water bottle container */
.Bottle {
    width: 40px;
    height: 98.95px;
    left: 1033px;
    top: 436px;
    position: absolute;
}

/* Styles for the text below the bottle */
.Systemmessage {
    left: 782px;
    top: 570px;
    position: absolute;
    color: black;
    font-size: 22px;
    font-family: Jost;
    font-weight: 500;
    word-wrap: break-word;
}
